.widget-search{
    padding: 20px 0;
}
.btn-sm {
    margin-right: 5px;
}
.badge{
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
