<header>
    <nav class="nav">
        <a class="nav-link" [routerLink] = "['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-link" [routerLink] = "['/about']" routerLinkActive="active">About</a>
        <a class="nav-link" [routerLink] = "['/product']" routerLinkActive="active">Product</a>
        <a class="nav-link" [routerLink] = "['/contact']" routerLinkActive="active">Contact</a>


<!--        <a class="nav-link" (click)="navigate('index')">Home</a>-->
<!--        <a class="nav-link" (click)="navigate('about')">About</a>-->
<!--        <a class="nav-link" (click)="navigate('contact')">Contact</a>-->
    </nav>
</header>
