<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>List Todos </h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-4">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Title</th>
                                <th>Completed</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of todos; let index = index">
                                <td>{{index + 1}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.completed === true ? 'Completed' : 'Processing'}}</td>
                                <td>
                                    <span style="margin-right: 10px; cursor: pointer" (click)="showModalEdit(item)" data-toggle="modal" data-target="#editModal"><a class="btn-sm btn-warning">Edit</a></span>
                                    <span style="cursor: pointer" (click)="onDelete(item)"><a class="btn-sm btn-danger">Delete</a></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Add Todo </h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <form>
                        <input type="text" class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
                        <select  class="form-control" [(ngModel)] ="completed" [ngModelOptions]="{standalone: true}">
                            <option value="" disabled selected>Status</option>
                            <option value="true">Completed</option>
                            <option value="false">Processing</option>
                        </select>
                        <button class="btn btn-primary" (click)="addTodo()">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <ng-container *ngIf="todo">
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Todo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="text" class="form-control" [(ngModel)]="todo.title" [ngModelOptions]="{standalone: true}">
                            <select  class="form-control" [(ngModel)] ="todo.completed" [ngModelOptions]="{standalone: true}">
                                <option value="" disabled selected>Status</option>
                                <option value="true">Completed</option>
                                <option value="false">Processing</option>
                            </select>
                            <button class="btn btn-primary" (click)="onUpdate(todo)" data-dismiss="modal">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>
