<div class="chat-system">

    <div class="chat-box">
        <div class="chat-box-inner">

            <div class="chat-conversation-box">
                <div id="chat-conversation-box-scroll" class="chat-conversation-box-scroll">
                    <div class="chat" data-chat="person1">
                        <div class="conversation-start">
                            <span>Today, 6:48 AM</span>
                        </div>
                        <div class="bubble you">
                            Hello,
                        </div>
                        <div class="bubble you">
                            It's me.
                        </div>
                        <div class="bubble you">
                            I have a question regarding project.
                        </div>
                    </div>
                    <div class="chat" data-chat="person2">
                        <div class="conversation-start">
                            <span>Today, 5:38 PM</span>
                        </div>
                        <div class="bubble you">
                            Hello!
                        </div>
                        <div class="bubble me">
                            Hey!
                        </div>
                        <div class="bubble me">
                            How was your day so far.
                        </div>
                        <div class="bubble you">
                            It was a bit dramatic.
                        </div>
                    </div>
                    <div class="chat" data-chat="person3">
                        <div class="conversation-start">
                            <span>Today, 3:38 AM</span>
                        </div>
                        <div class="bubble me">
                            Hey Buddy.
                        </div>
                        <div class="bubble me">
                            What's up
                        </div>
                        <div class="bubble you">
                            I am sick
                        </div>
                        <div class="bubble you">
                            Not comming to office today.
                        </div>
                    </div>
                    <div class="chat" data-chat="person4">
                        <div class="conversation-start">
                            <span>Yesterday, 4:20 PM</span>
                        </div>
                        <div class="bubble you">
                            Hi, collect your check
                        </div>
                        <div class="bubble me">
                            Ok, I will be there in 10 mins
                        </div>
                    </div>
                    <div class="chat" data-chat="person5">
                        <div class="conversation-start">
                            <span>Today, 6:28 AM</span>
                        </div>
                        <div class="bubble you">
                            Hi
                        </div>
                        <div class="bubble you">
                            Uploaded files to server.
                        </div>
                    </div>
                    <div class="chat" data-chat="person6">
                        <div class="conversation-start">
                            <span>Monday, 1:27 PM</span>
                        </div>
                        <div class="bubble you">
                            Hi, I am back from vacation
                        </div>
                        <div class="bubble you">
                            How are you?
                        </div>
                        <div class="bubble me">
                            Welcom Back
                        </div>
                        <div class="bubble me">
                            I am all well
                        </div>
                        <div class="bubble you">
                            Coffee?
                        </div>
                    </div>
                    <div class="chat" data-chat="person7">
                    </div>
                    <div class="chat" data-chat="person8">
                    </div>
                    <div class="chat" data-chat="person9">
                    </div>
                    <div class="chat" data-chat="person10">
                    </div>
                    <div class="chat" data-chat="person11">
                    </div>
                    <div class="chat" data-chat="person12">
                    </div>
                </div>
            </div>
            <div class="chat-footer">
                <div class="chat-input">
                    <form class="chat-form" action="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                        <input type="text" class="mail-write-box form-control" placeholder="Chat"  [(ngModel)] = "message" [ngModelOptions]="{standalone: true}" (keydown.enter)="SendChat('Mice' , 'https://i.pinimg.com/564x/08/a9/2c/08a92c047bf3622b50acfa1569a33ae3.jpg', 'abc' , message)" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
