

.pt-10 {
  padding-top: 100px;
}

.mt-5 {
  margin-top: 50px;
}

.primary-color {
  color: #2451cf;
}

.danger-color {
  color: #e74c3c;
}
.border-bottom{
  border-bottom: 1px solid #2451cf !important;
}

.component-card_4 {
  width: 30rem;
  margin: 0 auto;
  border: none;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  -webkit-box-shadow: 4px 6px 10px -3px #bfc9d4;
  box-shadow: 4px 6px 10px -3px #bfc9d4;
}
.component-card_4 .card-body {
  padding: 0;
  display: flex;
}
.component-card_4 .user-profile {
  align-self: center;
  padding: 0 25px;
  width: 300px;
}
.component-card_4 img { border-radius: 50%; max-width: 100%}
.component-card_4 .user-info { padding: 24px 8px 24px 0px; }
.component-card_4 .card-user_name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.component-card_4 .card-user_occupation {
  color: #888ea8;
  font-size: 13px;
}
.component-card_4 .card-star_rating span {
  display: inline-block;
  padding: 0px 8px;
  font-size: 15px;
  border-radius: 50px;
  margin-bottom: 22px;
}
.component-card_4 .card-star_rating svg {
  width: 16px;
  vertical-align: bottom;
}
.component-card_4 .card-text {
  color: #515365;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 23px;
}
