html, body { height: 100%; }
body {
  overflow: auto;
  margin: 0;
  padding: 0;
  background: #fff;
}
a{
  cursor: pointer;
}
.form-container {
  display: flex;
}
.form-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.form-form .form-form-wrap {
  max-width: 480px;
  margin: 0 auto;
  min-width: 311px;
  min-height: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.form-form .form-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: .71428571rem 2.85714286rem;
  width: 100%;
  min-height: 100%;
}
.form-form .form-container .form-content {
  display: block;
  width: 100%;
}
.form-form .form-form-wrap .user-meta { margin-bottom: 35px; }
.form-form .form-form-wrap .user-meta img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 15px;
  border: 4px solid #e0e6ed;
}
.form-form .form-form-wrap .user-meta div { align-self: center; }
.form-form .form-form-wrap .user-meta p {
  font-size: 31px;
  color: #3b3f5c;
  margin-bottom: 0;
}
.form-form .form-form-wrap h1 .brand-name {
  color: #1b55e2;
  font-weight: 600;
}
.form-form .form-form-wrap p.signup-link {
  font-size: 14px;
  color: #3b3f5c;
  font-weight: 700;
  margin-bottom: 50px;
}
.form-form .form-form-wrap p.signup-link a {
  color: #1b55e2;
  border-bottom: 1px solid;
}
.form-form .form-form-wrap form .field-wrapper.input {
  position: relative;
  padding: 11px 0 25px 0;
  border-bottom: none;
}
.form-form .form-form-wrap form .field-wrapper.input:focus { border: 1px solid #000; }
.form-form .form-form-wrap form .field-wrapper.toggle-pass p {
  font-weight: 600;
  color: #3b3f5c;
  margin-bottom: 0;
}
.form-form .form-form-wrap form .field-wrapper .logged-in-user-name {
  font-size: 37px;
  color: #3b3f5c;
}
.form-form .form-form-wrap form .field-wrapper svg {
  position: absolute;
  top: 16px;
  color: #1b55e2;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}
.form-form .form-form-wrap form .field-wrapper.terms_condition { margin-bottom: 20px; }
.form-form .form-form-wrap form .field-wrapper.terms_condition label {
  font-size: 14px;
  color: #888ea8;
  padding-left: 31px;
  font-weight: 100;
}
.form-form .form-form-wrap form .field-wrapper.terms_condition a { color: #1b55e2; }
.form-form .form-form-wrap form .field-wrapper input {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0;
  min-width: 50px;
  max-width: 635px;
  width: 100%;
  min-height: 36px;
  background-color: #ffffff;
  border: none;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #3b3f5c;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #e0e6ed;
  padding: 0px 0 10px 35px;
}
.form-form .form-form-wrap form .field-wrapper input::-webkit-input-placeholder {
  color: #d3d3d3;
  font-size: 14px;
}
.form-form .form-form-wrap form .field-wrapper input::-ms-input-placeholder {
  color: #d3d3d3;
  font-size: 14px;
}
.form-form .form-form-wrap form .field-wrapper input::-moz-placeholder {
  color: #d3d3d3;
  font-size: 14px;
}
.form-form .form-form-wrap form .field-wrapper input:focus { border-bottom: 1px solid #1b55e2; box-shadow: none; }
.form-form .form-form-wrap form .field-wrapper {}
.form-form .form-form-wrap form .field-wrapper.toggle-pass {
  align-self: center;
  text-align: left;
}
.form-form .form-form-wrap form .field-wrapper.toggle-pass .switch { margin-bottom: 0; vertical-align: sub; margin-left: 7px; }
.form-form .form-form-wrap form .field-wrapper button.btn { align-self: center; }
.form-form .form-form-wrap form .field-wrapper a.forgot-pass-link {
  width: 100%;
  font-weight: 700;
  color: #1b55e2;
  text-align: center;
  display: block;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 15px;
}
.form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator { top: 1px; border: 1px solid #bfc9d4; background-color: #f1f2f3; }
.form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator:after { top: 52%; }
.form-form .form-form-wrap form .field-wrapper.keep-logged-in { margin-top: 60px; }
.form-form .form-form-wrap form .field-wrapper.keep-logged-in label {
  font-size: 14px;
  color: #888ea8;
  padding-left: 31px;
  font-weight: 100; }
.form-form .terms-conditions {
  max-width: 480px;
  margin: 0 auto;
  color: #3b3f5c;
  font-weight: 600;
  margin-top: 90px;
}
.form-form .terms-conditions a {
  color: #1b55e2;
  font-weight: 700;
}
.form-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  position: fixed;
  right: 0;
  min-height: auto;
  height: 100vh;
  width: 50%;
}
.form-image .l-image {
  background-image: url(https://i.pinimg.com/originals/f2/09/7f/f2097fd985b57b1c514a54965695acc1.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: center;
  background-position-y: center;
}
@media (max-width: 991px) {
  .form-form { width: 100%; }
  .form-form .form-form-wrap { min-width: auto; }
  .form-image { display: none; }
}
@media (max-width: 575px) {
  .form-form .form-form-wrap form .field-wrapper.toggle-pass { margin-bottom: 28px; }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-form .form-form-wrap { width: 100%; }
  .form-form .form-container { height: 100%; }
}

/*----------Theme checkbox---------*/

.new-control {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 1.5rem;
  margin-right: 1rem;
  font-weight: 100;
  font-size: 14px;
}
.new-control-input { position: absolute; z-index: -1; opacity: 0; }
.new-control.new-checkbox .new-control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e0e6ed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 4px;
}
.new-control.new-checkbox { cursor: pointer; }
.new-control.new-checkbox>input:checked~span.new-control-indicator { background: #888ea8; }
.new-control.new-checkbox>input:checked~span.new-control-indicator:after { display: block; }
.new-control.new-checkbox span.new-control-indicator:after { border: solid #fff; }
.new-control.new-checkbox span.new-control-indicator:after {
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -5px;
  width: 4px;
  height: 8px;
  border-width: 0 2px 2px 0!important;
  transform: rotate(45deg);
  content: '';
  position: absolute;
  display: none;
  margin-left: -2px;
  margin-top: -5px;
  width: 4px;
  height: 8px;
  height: 8px;
}

/*rounded checkbox*/

.new-checkbox-rounded span.new-control-indicator { border-radius: 50%!important; }

/*  line through colors   */
.new-control.new-checkbox.new-checkbox-text>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-default>input:checked~span.new-chk-content { color: #888ea8; }

.new-control.new-checkbox.new-checkbox-text.checkbox-primary>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-primary>input:checked~span.new-chk-content { color: #1b55e2; }

.new-control.new-checkbox.new-checkbox-text.checkbox-success>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-success>input:checked~span.new-chk-content { color: #8dbf42; }

.new-control.new-checkbox.new-checkbox-text.checkbox-info>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-info>input:checked~span.new-chk-content { color: #2196f3; }

.new-control.new-checkbox.new-checkbox-text.checkbox-warning>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-warning>input:checked~span.new-chk-content { color: #e2a03f; }

.new-control.new-checkbox.new-checkbox-text.checkbox-danger>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-danger>input:checked~span.new-chk-content { color: #e7515a; }

.new-control.new-checkbox.new-checkbox-text.checkbox-secondary>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-secondary>input:checked~span.new-chk-content { color: #5c1ac3; }

.new-control.new-checkbox.new-checkbox-text.checkbox-dark>input:checked~span.new-chk-content,
.new-control.new-checkbox.new-checkbox-text.checkbox-outline-dark>input:checked~span.new-chk-content { color: #3b3f5c; }

/*  Color   */
.new-control.new-checkbox.checkbox-primary>input:checked~span.new-control-indicator { background: #1b55e2; }
.new-control.new-checkbox.checkbox-success>input:checked~span.new-control-indicator { background: #8dbf42; }
.new-control.new-checkbox.checkbox-info>input:checked~span.new-control-indicator { background: #2196f3; }
.new-control.new-checkbox.checkbox-warning>input:checked~span.new-control-indicator { background: #e2a03f; }
.new-control.new-checkbox.checkbox-danger>input:checked~span.new-control-indicator { background: #e7515a; }
.new-control.new-checkbox.checkbox-secondary>input:checked~span.new-control-indicator { background: #5c1ac3; }
.new-control.new-checkbox.checkbox-dark>input:checked~span.new-control-indicator { background: #3b3f5c; }

/*   Outline checkbox   */
.new-control.new-checkbox[class*="checkbox-outline-"]>input:checked~span.new-control-indicator { background-color: transparent; }
.new-control.new-checkbox.checkbox-outline-default>input:checked~span.new-control-indicator { border: 2px solid #888ea8; }
.new-control.new-checkbox.checkbox-outline-primary>input:checked~span.new-control-indicator { border: 2px solid #1b55e2; }
.new-control.new-checkbox.checkbox-outline-success>input:checked~span.new-control-indicator { border: 2px solid #8dbf42; }
.new-control.new-checkbox.checkbox-outline-info>input:checked~span.new-control-indicator { border: 2px solid #2196f3; }
.new-control.new-checkbox.checkbox-outline-warning>input:checked~span.new-control-indicator { border: 2px solid #e2a03f; }
.new-control.new-checkbox.checkbox-outline-danger>input:checked~span.new-control-indicator { border: 2px solid #e7515a; }
.new-control.new-checkbox.checkbox-outline-secondary>input:checked~span.new-control-indicator { border: 2px solid #5c1ac3; }
.new-control.new-checkbox.checkbox-outline-dark>input:checked~span.new-control-indicator { border: 2px solid #3b3f5c; }

.new-control.new-checkbox.checkbox-outline-default>input:checked~span.new-control-indicator:after { border-color: #888ea8; }
.new-control.new-checkbox.checkbox-outline-primary>input:checked~span.new-control-indicator:after { border-color: #1b55e2; }
.new-control.new-checkbox.checkbox-outline-success>input:checked~span.new-control-indicator:after { border-color: #8dbf42; }
.new-control.new-checkbox.checkbox-outline-info>input:checked~span.new-control-indicator:after { border-color: #2196f3; }
.new-control.new-checkbox.checkbox-outline-warning>input:checked~span.new-control-indicator:after { border-color: #e2a03f; }
.new-control.new-checkbox.checkbox-outline-danger>input:checked~span.new-control-indicator:after { border-color: #e7515a; }
.new-control.new-checkbox.checkbox-outline-secondary>input:checked~span.new-control-indicator:after { border-color: #5c1ac3; }
.new-control.new-checkbox.checkbox-outline-dark>input:checked~span.new-control-indicator:after { border-color: #3b3f5c; }


/*----------Theme Radio---------*/

.new-control.new-radio .new-control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e0e6ed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 50%;
}
.new-control.new-radio { cursor: pointer; }
.new-control.new-radio>input:checked~span.new-control-indicator { background: #888ea8; }
.new-control.new-radio span.new-control-indicator:after {
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  content: '';
  position: absolute;
  display: none;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: #fff;
}

/*square radio*/
.new-control.new-radio.square-radio .new-control-indicator { border-radius: 0; }
.new-control.new-radio.square-radio span.new-control-indicator:after { border-radius: 0; }

/*  Color   */
.new-control.new-radio.radio-primary>input:checked~span.new-control-indicator { background: #1b55e2; }
.new-control.new-radio.radio-success>input:checked~span.new-control-indicator { background: #8dbf42; }
.new-control.new-radio.radio-info>input:checked~span.new-control-indicator { background: #2196f3; }
.new-control.new-radio.radio-warning>input:checked~span.new-control-indicator { background: #e2a03f; }
.new-control.new-radio.radio-danger>input:checked~span.new-control-indicator { background: #e7515a; }
.new-control.new-radio.radio-secondary>input:checked~span.new-control-indicator { background: #5c1ac3; }
.new-control.new-radio.radio-dark>input:checked~span.new-control-indicator { background: #3b3f5c; }

/*   Outline Radio   */
.new-control.new-radio[class*="radio-classic-"]>input:checked~span.new-control-indicator { background-color: transparent; }
.new-control.new-radio.radio-classic-default>input:checked~span.new-control-indicator { border: 3px solid #888ea8; }
.new-control.new-radio.radio-classic-primary>input:checked~span.new-control-indicator { border: 3px solid #1b55e2; }
.new-control.new-radio.radio-classic-success>input:checked~span.new-control-indicator { border: 3px solid #8dbf42; }
.new-control.new-radio.radio-classic-info>input:checked~span.new-control-indicator { border: 3px solid #2196f3; }
.new-control.new-radio.radio-classic-warning>input:checked~span.new-control-indicator { border: 3px solid #e2a03f; }
.new-control.new-radio.radio-classic-danger>input:checked~span.new-control-indicator { border: 3px solid #e7515a; }
.new-control.new-radio.radio-classic-secondary>input:checked~span.new-control-indicator { border: 3px solid #5c1ac3; }
.new-control.new-radio.radio-classic-dark>input:checked~span.new-control-indicator { border: 3px solid #3b3f5c; }

.new-control.new-radio.radio-classic-default>input:checked~span.new-control-indicator:after { background-color: #888ea8; }
.new-control.new-radio.radio-classic-primary>input:checked~span.new-control-indicator:after { background-color: #1b55e2; }
.new-control.new-radio.radio-classic-success>input:checked~span.new-control-indicator:after { background-color: #8dbf42; }
.new-control.new-radio.radio-classic-info>input:checked~span.new-control-indicator:after { background-color: #2196f3; }
.new-control.new-radio.radio-classic-warning>input:checked~span.new-control-indicator:after { background-color: #e2a03f; }
.new-control.new-radio.radio-classic-danger>input:checked~span.new-control-indicator:after { background-color: #e7515a; }
.new-control.new-radio.radio-classic-secondary>input:checked~span.new-control-indicator:after { background-color: #5c1ac3; }
.new-control.new-radio.radio-classic-dark>input:checked~span.new-control-indicator:after { background-color: #3b3f5c; }

/*  line through colors   */
.new-control.new-radio.new-radio-text>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-default>input:checked~span.new-radio-content { color: #888ea8; }

.new-control.new-radio.new-radio-text.radio-primary>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-primary>input:checked~span.new-radio-content { color: #1b55e2; }

.new-control.new-radio.new-radio-text.radio-success>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-success>input:checked~span.new-radio-content { color: #8dbf42; }

.new-control.new-radio.new-radio-text.radio-info>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-info>input:checked~span.new-radio-content { color: #2196f3; }

.new-control.new-radio.new-radio-text.radio-warning>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-warning>input:checked~span.new-radio-content { color: #e2a03f; }

.new-control.new-radio.new-radio-text.radio-danger>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-danger>input:checked~span.new-radio-content { color: #e7515a; }

.new-control.new-radio.new-radio-text.radio-secondary>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-secondary>input:checked~span.new-radio-content { color: #5c1ac3; }

.new-control.new-radio.new-radio-text.radio-dark>input:checked~span.new-radio-content,
.new-control.new-radio.new-radio-text.radio-classic-dark>input:checked~span.new-radio-content { color: #3b3f5c; }

/*
==================
    Switches
==================
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedf2;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px)
}
/* Rounded Slider Switches */
.switch .slider.round { border-radius: 34px; }
.switch .slider.round:before { border-radius: 50%; }

/* Solid Switches*/

.switch.s-default .slider:before { background-color: #d3d3d3; }
.switch.s-primary .slider:before { background-color: #1b55e2; }
.switch.s-success .slider:before { background-color: #8dbf42; }
.switch.s-warning .slider:before { background-color: #e2a03f; }
.switch.s-danger .slider:before { background-color: #e7515a; }
.switch.s-secondary .slider:before { background-color: #5c1ac3; }
.switch.s-info .slider:before { background-color: #2196f3; }
.switch.s-dark .slider:before { background-color: #3b3f5c; }
.switch input:checked + .slider:before { background-color: #fff; }

.switch.s-default input:checked + .slider { background-color: #d3d3d3; }
.switch.s-default input:focus + .slider { box-shadow: 0 0 1px #ebedf2; }
.switch.s-primary input:checked + .slider { background-color: #1b55e2; }
.switch.s-primary input:focus + .slider { box-shadow: 0 0 1px #1b55e2; }
.switch.s-success input:checked + .slider { background-color: #8dbf42; }
.switch.s-success input:focus + .slider { box-shadow: 0 0 1px #8dbf42; }
.switch.s-warning input:checked + .slider { background-color: #e2a03f; }
.switch.s-warning input:focus + .slider { box-shadow: 0 0 1px #e2a03f; }
.switch.s-danger input:checked + .slider { background-color: #e7515a; }
.switch.s-danger input:focus + .slider { box-shadow: 0 0 1px #e7515a; }
.switch.s-secondary input:checked + .slider { background-color: #5c1ac3; }
.switch.s-secondary input:focus + .slider { box-shadow: 0 0 1px #5c1ac3; }
.switch.s-info input:checked + .slider { background-color: #2196f3; }
.switch.s-info input:focus + .slider { box-shadow: 0 0 1px #2196f3; }
.switch.s-dark input:checked + .slider { background-color: #3b3f5c; }
.switch.s-dark input:focus + .slider { box-shadow: 0 0 1px #3b3f5c; }

/* Outline Switches */
.switch.s-outline .slider {
  border: 2px solid #ebedf2;
  background-color: transparent;
  width: 36px;
  height: 19px;
}
.switch.s-outline .slider:before { height: 13px; width: 13px; }
.switch.s-outline[class*="s-outline-"] .slider:before {
  bottom: 1px;
  left: 1px;
  border: 2px solid #bfc9d4;
  background-color: #bfc9d4;
  color: #ebedf2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.25);
}
.switch.s-icons.s-outline-default { color: #d3d3d3; }
.switch.s-icons.s-outline-primary { color: #1b55e2; }
.switch.s-icons.s-outline-success { color: #8dbf42; }
.switch.s-icons.s-outline-warning { color: #e2a03f; }
.switch.s-icons.s-outline-danger { color: #e7515a; }
.switch.s-icons.s-outline-secondary { color: #5c1ac3; }
.switch.s-icons.s-outline-info { color: #2196f3; }
.switch.s-icons.s-outline-dark { color: #3b3f5c; }

.switch.s-outline-default input:checked + .slider { border: 2px solid #ebedf2; }
.switch.s-outline-default input:checked + .slider:before {
  border: 2px solid #d3d3d3;
  background-color: #d3d3d3;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.25);
}
.switch.s-outline-default input:focus + .slider { box-shadow: 0 0 1px #ebedf2; }
.switch.s-outline-primary input:checked + .slider { border: 2px solid #1b55e2; }
.switch.s-outline-primary input:checked + .slider:before {
  border: 2px solid #1b55e2;
  background-color: #1b55e2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.s-outline-primary input:focus + .slider { box-shadow: 0 0 1px #1b55e2; }
.switch.s-outline-success input:checked + .slider { border: 2px solid #8dbf42; }
.switch.s-outline-success input:checked + .slider:before {
  border: 2px solid #8dbf42;
  background-color: #8dbf42;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.s-outline-success input:focus + .slider { box-shadow: 0 0 1px #8dbf42; }
.switch.s-outline-warning input:checked + .slider { border: 2px solid #e2a03f; }
.switch.s-outline-warning input:checked + .slider:before {
  border: 2px solid #e2a03f;
  background-color: #e2a03f;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.s-outline-warning input:focus + .slider { box-shadow: 0 0 1px #e2a03f; }
.switch.s-outline-danger input:checked + .slider { border: 2px solid #e7515a; }
.switch.s-outline-danger input:checked + .slider:before {
  border: 2px solid #e7515a;
  background-color: #e7515a;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.s-outline-danger input:focus + .slider { box-shadow: 0 0 1px #e7515a; }
.switch.s-outline-secondary input:checked + .slider { border: 2px solid #5c1ac3; }
.switch.s-outline-secondary input:checked + .slider:before {
  border: 2px solid #5c1ac3;
  background-color: #5c1ac3;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.s-outline-secondary input:focus + .slider { box-shadow: 0 0 1px #5c1ac3; }
.switch.s-outline-info input:checked + .slider { border: 2px solid #2196f3; }
.switch.s-outline-info input:checked + .slider:before {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.s-outline-info input:focus + .slider { box-shadow: 0 0 1px #2196f3; }
.switch.s-outline-dark input:checked + .slider { border: 2px solid #3b3f5c; }
.switch.s-outline-dark input:checked + .slider:before {
  border: 2px solid #3b3f5c;
  background-color: #3b3f5c;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.s-outline-dark input:focus + .slider { box-shadow: 0 0 1px #3b3f5c; }


/*  Icons Switches */

.switch.s-icons {
  width: 57px;
  height: 30px;
}
.switch.s-icons .slider {
  width: 48px;
  height: 25px;
}
.switch.s-icons .slider:before {
  vertical-align: sub;
  color: #3b3f5c;
  height: 19px;
  width: 19px;
  line-height: 1.3;
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23e9ecef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}
.switch.s-icons input:checked + .slider:before {
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
  vertical-align: sub;
  color: #fff;
  line-height: 1.4;
}
.switch.s-icons input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}
