<div class="statbox widget-signup box box-shadow">
    <div class="widget-header">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>Sign up </h4>
            </div>
        </div>
    </div>
    <div class="widget-content widget-content-area">
        <div class="signup">
            <form [formGroup]="frmUser" autocomplete="off" (ngSubmit)="onSubmitForm()">

                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="string" class="form-input" id="email" name="email" formControlName="email">
<!--                    <div class="alert alert-danger mb-4" role="alert" *ngIf="frmUser.controls.email.dirty && frmUser.controls.email.errors ?.required">-->
<!--                        <strong>Error!</strong> Email ko được để trống-->
<!--                    </div>-->

                    <!-- Validation custom-->
                    <app-custom-validation [controls]="frmUser.controls.email" [controlName]="'Email'"></app-custom-validation>
                    <!--   Validation custom-->

                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-input" id="password" name="password" formControlName="password">
                    <!--                    <div class="alert alert-danger mb-4" role="alert" *ngIf="frmUser.controls.password.dirty && frmUser.controls.password.errors ?.required">-->
                    <!--                        <strong>Error!</strong> Password ko được để trống-->
                    <!--                    </div>-->
                    <!-- Validation custom-->
                    <app-custom-validation [controls]="frmUser.controls.password" [controlName]="'Password'"></app-custom-validation>
                    <!--   Validation custom-->

                </div>
                <div class="form-group">
                    <label for="name" class="form-label">Full name</label>
                    <input type="text" class="form-input" id="name" name="name" formControlName="name">
<!--                    <div class="alert alert-danger mb-4" role="alert" *ngIf="frmUser.controls.name.dirty && frmUser.controls.name.errors ?.required">-->
<!--                        <strong>Error!</strong> Name ko được để trống-->
<!--                    </div>-->
                    <!-- Validation custom-->
                    <app-custom-validation [controls]="frmUser.controls.name" [controlName]="'Fullname'"></app-custom-validation>
                    <!--   Validation custom-->
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-input" id="phone" name="phone" formControlName="phone">
<!--                    <div class="alert alert-danger mb-4" role="alert" *ngIf="frmUser.controls.phone.dirty && frmUser.controls.phone.errors ?.required">-->
<!--                        <strong>Error!</strong> Phone ko được để trống-->
<!--                    </div>-->
                    <!-- Validation custom-->
                    <app-custom-validation [controls]="frmUser.controls.phone" [controlName]="'Phone'"></app-custom-validation>
                    <!--   Validation custom-->
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-input" id="address" name="address" formControlName="address">
<!--                    <div class="alert alert-danger mb-4" role="alert" *ngIf="frmUser.controls.address.dirty && frmUser.controls.address.errors ?.required">-->
<!--                        <strong>Error!</strong> Address ko được để trống-->
<!--                    </div>-->
                    <!-- Validation custom-->
                    <app-custom-validation [controls]="frmUser.controls.address" [controlName]="'Address'"></app-custom-validation>
                    <!--   Validation custom-->
                </div>
                <!--                <button [disabled] = "frmUser.valid === false" type="submit" class="form-submit">Sign up</button>-->
                <button type="submit" class="form-submit">Sign up</button>
            </form>
            <p class="signup-already">Already have an account ? <a href="#" class="signup-already-link">Login</a></p>
        </div>
    </div>
</div>


