<div class="statbox widget box box-shadow">
    <div class="widget-header">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>Tìm hiểu về Dependency Injection: Services</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <app-demo-service-first></app-demo-service-first>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <app-demo-serivce-second></app-demo-serivce-second>
                </div>
            </div>

        </div>
    </div>
</div>
