@font-face {
  font-family: 'IcoFont';
  font-style: normal;
  font-weight: 400;
  src : url(./assets/fonts/icofont.woff);
}
@font-face {
  font-family: 'Baloo2';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Baloo2-Regular.ttf); /* For IE6-8 */

}
@font-face {
  font-family: 'Baloo2';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/Baloo2-Medium.ttf); /* For IE6-8 */

}
@font-face {
  font-family: 'Baloo2';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Baloo2-Bold.ttf); /* For IE6-8 */
}

/*      Alert       */

.alert {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 0 15px;
}
.alert .btn {
  padding: 3px 12px;
  margin-right: 20px;
}
.alert .btn:hover {
  box-shadow: none;
}
.alert .alert-icon svg { vertical-align: middle; width: 33px; height: 33px; }
.alert .close {
  color: #fff;
  opacity: 1;
  width: 18px;
}

/*Default Alerts*/

.alert-primary {
  color: #fff;
  background-color: #1b55e2;
  border-color: #1b55e2;
}
.alert-warning {
  color: #fff;
  background-color: #e2a03f;
  border-color: #e2a03f;
}
.alert-success {
  color: #fff;
  background-color: #8dbf42;
  border-color: #8dbf42;
}
.alert-info {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.alert-danger {
  color: #fff;
  background-color: #e7515a;
  border-color: #e7515a;
}
.alert-dark {
  color: #fff;
  background-color: #3b3f5c;
  border-color: #3b3f5c;
}
.error{
  background: red;
  color: #fff;
  margin: 5px 0;
  padding: 0 15px;
  border-radius: 3px;
  display: block;
  font-weight: 500;
  font-size: 13px;
}
