<div id="tableHover" class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Pipe </h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div class="table-responsive">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Pipe</th>
                        <th>Data</th>
                        <th class="text-center">Result</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>UpperCase</td>
                        <td>{{title}}</td>
                        <td class="text-center"><span class="text-success">{{title | uppercase}}</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>LowerCase</td>
                        <td>{{content}}</td>
                        <td class="text-center"><span class="text-secondary">{{content | lowercase}}</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>TitleCase</td>
                        <td>{{title}}</td>
                        <td class="text-center"><span class="text-info">{{title | titlecase}}</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Slice</td>
                        <td>{{content}}</td>
                        <!--                  <td class="text-center"><span class="text-danger">{{content | slice:50 }}</span></td>-->
                        <td class="text-center"><span class="text-danger">{{content | slice:50 : 80 }}</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Number</td>
                        <td>{{price}}</td>
                        <!--                <td class="text-center"><span class=  "text-info">{{price | number : '1.0-2'}}</span></td>-->
                        <td class="text-center"><span class="text-info">{{price | number : '3.8'}}</span></td>
                        <!--                <td class="text-center"><span class=  "text-info">{{price | number : '5.2-5'}}</span></td>-->
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Percent</td>
                        <td>{{result}}</td>
                        <td class="text-center"><span class="text-info">{{result | percent : '1.0-1' }}</span></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Slice</td>
                        <td>{{cars}}</td>
                        <!--                <td class="text-center"><span class=  "text-info">{{cars | slice : 5}}</span></td>-->
                        <td class="text-center"><span class="text-info">{{cars | slice : 4 : 8}}</span></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Currency</td>
                        <td>{{total}}</td>
                        <!--                <td class="text-center"><span class=  "text-info">{{total | currency : 'VND'}}</span></td>-->
                        <!--                <td class="text-center"><span class=  "text-info">{{total | currency : 'FRF':true}}</span></td>-->
                        <td class="text-center"><span class="text-info">{{total | currency : 'USD':false}}</span></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Date</td>
<!--                        <td>{{date}}</td>-->
<!--                        <td class="text-center"><span class="text-info">{{date | date : 'dd/MM/y HH:mm:ss' }}</span></td>-->
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Json</td>
                        <td>{{users}}</td>
                        <!--                <td class="text-center"><span class=  "text-info">{{users | json}}</span></td>-->
                        <td class="text-center"><span class="text-info">{{users | json | uppercase}}</span></td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Custom pipe</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div class="table-responsive">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Pipe</th>
                        <th style="width: 50%">Data</th>
                        <th class="text-center">Result</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>FormatData</td>
                            <td>{{description}}</td>
                            <td class="text-center"><span class=  "text-info">{{ description | formatData : 10 : 20}}</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Capitalize</td>
                            <td>
                                <input type="text" class="form-control" [(ngModel)]="name">
                            </td>
                            <td class="text-center"><span class=  "text-info">{{ name | capitalize}}</span></td>
                        </tr>


                    </tbody>
                </table>
            </div>


        </div>
        <div class="widget-content widget-content-area">
            <h6>Pipe : FilterData</h6>
            <div class="table-responsive">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th class="text-center">Status</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" placeholder="Nhập id" class="form-control" [(ngModel)] = "idFilter">
                            </td>
                            <td>
                                <input type="text" placeholder="Nhập name" class="form-control" [(ngModel)] = "nameFilter">
                            </td>
                            <td>
                                <select [(ngModel)] = "statusFilter" class="form-control">
                                    <option value="" selected>Chọn trạng thái</option>
                                    <option value="true">Active</option>
                                    <option value="false">Block</option>
                                </select>
                            </td>


                        </tr>
                        <tr *ngFor="let item of products | filterData : idFilter : nameFilter : statusFilter ; let index = index" >
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.status ? 'Active' : 'Block'}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <div class="widget-content widget-content-area">
            <h6>Pipe : sortArrayNumber</h6>
            <div class="table-responsive">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Pipe</th>
                            <th style="width: 50%">Data</th>
                            <th class="text-center">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <select [(ngModel)] = "sortNumber" class="form-control">
                                    <option value="" selected>Chọn kiểu sắp xếp</option>
                                    <option value="1">Tăng dần</option>
                                    <option value="-1">Giảm dần</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>sortArrayNumber</td>
                            <td>{{numArrays}}</td>
                            <td class="text-center"><span class=  "text-info">{{ numArrays | sortArrayNumber : sortNumber}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div class="widget-content widget-content-area">
            <h6>Pipe : sortData</h6>
            <div class="table-responsive">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th (click)="sortOrders('name')">Name</th>
                        <th (click)="sortOrders('total')" class="text-center">Total</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of orders | sortData : sortBy : sortValue; let index = index" >
                        <td>{{index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.total}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>

</div>
